.homesectionthree {
	display: flex;
    justify-content: space-between;
    @media all and (max-width: 1100px) {
        flex-wrap: wrap;
    }
}

.homesectionthree__img {
	width: 372.16px;
    height: 260px;
    margin-top: 2rem;
}
